[project]
	description = A set of tools designed for capturing presentations. The main tool is capable of capturing VGA output and audio, and mixing them together to produce a video.
[access "refs/*"]
	owner = group user/Dennis Ideler (dideler)
	owner = group user/Joseph Yeung (jshyeung)
	owner = group user/Michael Tom-Wing (mtomwing)
	owner = group user/Thanh Ha (zxiiro)
[access "refs/for/refs/*"]
	read = group user/Dennis Ideler (dideler)
	read = group user/Joseph Yeung (jshyeung)
	read = group user/Michael Tom-Wing (mtomwing)
	read = group user/Thanh Ha (zxiiro)
	push = group user/Dennis Ideler (dideler)
	push = group user/Joseph Yeung (jshyeung)
	push = group user/Michael Tom-Wing (mtomwing)
	push = group user/Thanh Ha (zxiiro)
	label-Code-Review = -2..+2 group user/Dennis Ideler (dideler)
	label-Code-Review = -2..+2 group user/Joseph Yeung (jshyeung)
	label-Code-Review = -2..+2 group user/Michael Tom-Wing (mtomwing)
	label-Code-Review = -2..+2 group user/Thanh Ha (zxiiro)
	label-Verified = -1..+1 group user/Dennis Ideler (dideler)
	label-Verified = -1..+1 group user/Joseph Yeung (jshyeung)
	label-Verified = -1..+1 group user/Michael Tom-Wing (mtomwing)
	label-Verified = -1..+1 group user/Thanh Ha (zxiiro)
	rebase = group user/Dennis Ideler (dideler)
	rebase = group user/Joseph Yeung (jshyeung)
	rebase = group user/Michael Tom-Wing (mtomwing)
	rebase = group user/Thanh Ha (zxiiro)
	removeReviewer = group user/Dennis Ideler (dideler)
	removeReviewer = group user/Joseph Yeung (jshyeung)
	removeReviewer = group user/Michael Tom-Wing (mtomwing)
	removeReviewer = group user/Thanh Ha (zxiiro)
	submit = group user/Dennis Ideler (dideler)
	submit = group user/Joseph Yeung (jshyeung)
	submit = group user/Michael Tom-Wing (mtomwing)
	submit = group user/Thanh Ha (zxiiro)
[access "refs/heads/*"]
	read = group user/Dennis Ideler (dideler)
	read = group user/Joseph Yeung (jshyeung)
	read = group user/Michael Tom-Wing (mtomwing)
	read = group user/Thanh Ha (zxiiro)
	create = group user/Dennis Ideler (dideler)
	create = group user/Joseph Yeung (jshyeung)
	create = group user/Michael Tom-Wing (mtomwing)
	create = group user/Thanh Ha (zxiiro)
	push = group user/Dennis Ideler (dideler)
	push = group user/Joseph Yeung (jshyeung)
	push = group user/Michael Tom-Wing (mtomwing)
	push = +force group user/Thanh Ha (zxiiro)
	pushMerge = group user/Dennis Ideler (dideler)
	pushMerge = group user/Joseph Yeung (jshyeung)
	pushMerge = group user/Michael Tom-Wing (mtomwing)
	pushMerge = group user/Thanh Ha (zxiiro)
[access "refs/tags/*"]
	push = group user/Dennis Ideler (dideler)
	push = group user/Joseph Yeung (jshyeung)
	push = group user/Michael Tom-Wing (mtomwing)
	push = +force group user/Thanh Ha (zxiiro)
	pushTag = group user/Dennis Ideler (dideler)
	pushTag = group user/Joseph Yeung (jshyeung)
	pushTag = group user/Michael Tom-Wing (mtomwing)
	pushTag = group user/Thanh Ha (zxiiro)
	pushSignedTag = group user/Dennis Ideler (dideler)
	pushSignedTag = group user/Joseph Yeung (jshyeung)
	pushSignedTag = group user/Michael Tom-Wing (mtomwing)
	pushSignedTag = group user/Thanh Ha (zxiiro)
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
