[Desktop Entry]
Encoding=UTF-8
Name=freeseer
Comment=Video capture utility
GenericName=
Type=Application
Exec=/usr/bin/freeseer-record
Icon=48x48-freeseer.png
Categories=AudioVideo;Recorder;

